09_assets/wip/truck/mesh/truck_mesh_06.mb
09_assets/wip/truck/mesh/truck_mesh_07.mb
09_assets/wip/truck/mesh/truck_mesh_08.mb
09_assets/wip/truck/mesh/truck_mesh_09.mb
09_assets/wip/truck/mesh/truck_mesh_10.mb
09_assets/wip/truck/mesh/truck_mesh_11.mb
09_assets/wip/truck/mesh/truck_mesh_12.mb
09_assets/wip/truck/mesh/truck_mesh_13.mb
09_assets/wip/truck/mesh/truck_mesh_14.mb
09_assets/wip/truck/mesh/truck_mesh_15.mb
09_assets/wip/truck/mesh/truck_mesh_16.mb
09_assets/wip/truck/mesh/truck_mesh_17.mb
09_assets/wip/truck/mesh/truck_mesh_18.mb
09_assets/wip/truck/mesh/truck_mesh_19.mb
09_assets/wip/truck/mesh/truck_mesh_20.mb
09_assets/wip/truck/mesh/truck_mesh_21.mb
09_assets/wip/truck/mesh/truck_mesh_22.mb
04_storyboard/storyboard/fx/46_1.mov
04_storyboard/storyboard/fx/46_1.mp4
04_storyboard/storyboard/fx/46_2.mov
04_storyboard/storyboard/fx/46_2.mp4
04_storyboard/storyboard/fx/46_3.mov
04_storyboard/storyboard/fx/46_3.mp4
04_storyboard/storyboard/fx/48.mov
04_storyboard/storyboard/fx/49.mov
04_storyboard/storyboard/fx/49.mp4
04_storyboard/storyboard/fx/49fx.mov
04_storyboard/storyboard/fx/50.mov
04_storyboard/storyboard/fx/51.mov
04_storyboard/storyboard/fx/52.mov
04_storyboard/storyboard/fx/53.mov
04_storyboard/storyboard/fx/nukeComp.nk
04_storyboard/storyboard/fx/nukeComp.nk.autosave
04_storyboard/storyboard/fx/plan_48.mp4
04_storyboard/storyboard/fx/plan_49.mp4
04_storyboard/storyboard/fx/plan_50.mp4
04_storyboard/storyboard/fx/plan_51.mp4
04_storyboard/storyboard/fx/plan_52.mp4
04_storyboard/storyboard/fx/plan_53.mp4
*.spp
11_setDressing/forteresse/forteresse_01.mb,11_setDressing/forteresse/forteresse_02.mb,11_setDressing/forteresse/forteresse_03.mb,11_setDressing/forteresse/forteresse_04.mb,11_setDressing/forteresse/forteresse_05.mb
11_setDressing/forteresse/forteresse_01.mb
11_setDressing/forteresse/forteresse_02.mb
11_setDressing/forteresse/forteresse_03.mb
11_setDressing/forteresse/forteresse_04.mb
11_setDressing/forteresse/forteresse_05.mb
*.swatches
*.mtl
*.painter_lock
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0001.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0002.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0003.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0004.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0005.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0006.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0007.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0008.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0009.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0010.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0011.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0012.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0013.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0014.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0015.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0016.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0017.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0018.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0019.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0020.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0021.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0022.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0023.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0024.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0025.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0026.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0027.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0028.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0029.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0030.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0031.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0032.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0033.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0034.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0035.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0036.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0037.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0038.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0039.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0040.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0041.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0042.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0043.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0044.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0045.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0046.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0047.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0048.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0049.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0050.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0051.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0052.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0053.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0054.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0055.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0056.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0057.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0058.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0059.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0060.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0061.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0062.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0063.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0064.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0065.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0066.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0067.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0068.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0069.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0070.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0071.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0072.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0073.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0074.exr
10_lookdev/siera/hair/hair_animation_rendu_01/hair_animation.0075.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0001.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0002.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0003.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0004.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0005.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0006.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0007.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0008.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0009.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0010.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0011.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0012.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0013.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0014.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0015.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0016.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0017.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0018.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0019.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0020.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0021.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0022.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0023.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0024.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0025.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0026.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0027.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0028.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0029.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0030.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0031.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0032.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0033.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0034.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0035.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0036.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0037.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0038.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0039.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0040.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0041.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0042.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0043.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0044.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0045.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0046.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0047.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0048.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0049.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0050.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0051.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0052.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0053.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0054.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0055.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0056.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0057.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0058.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0059.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0060.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0061.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0062.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0063.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0064.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0065.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0066.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0067.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0068.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0069.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0070.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0071.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0072.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0073.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0074.exr
10_lookdev/siera/hair/hair_animation_rendu_02/hair_animation.0075.exr
*.tbscene
06_character/wip/droide/textures/backup/
06_character/wip/siera/mesh/high/siera_high_05.fbx
06_character/wip/siera/mesh/high/siera_high_06.fbx
06_character/wip/siera/mesh/low/siera_retopo_05.mb
06_character/wip/siera/mesh/low/siera_retopo_09.mb
06_character/wip/siera/mesh/low/siera_retopo_10.mb
06_character/wip/siera/mesh/low/siera_retopo_20.mb
06_character/wip/siera/mesh/low/siera_retopo_25.mb
06_character/wip/siera/mesh/UV/backup/
11_setDressing/salleCoffres/backup/
06_character/wip/droide/rig/V2/droide_rig_64.mb
06_character/wip/tyran/low/backup/
06_character/wip/tyran/rig/backup/tyran_rig_73.mb
06_character/wip/tyran/rig/backup/
06_character/wip/tyran/uv/backup/
06_character/wip/tyran/ztl/
09_assets/wip/house_01/mesh/backup/house_01.mb
09_assets/wip/house_01/mesh/backup/
09_assets/wip/house_01/UV/backup/
09_assets/wip/house_02/mesh/backup/
09_assets/wip/house_02/UV/backup/
09_assets/wip/house_02/textures/backup/
09_assets/wip/house_01/textures/backup/
06_character/wip/siera/textures/backupMaps/
